{
  "openapi": "3.0.1",
  "info": {
    "title": "Modulr API",
    "description": "Modulr API",
    "license": {
      "name": "© Modulr Finance"
    },
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://api-sandbox.modulrfinance.com/api-sandbox-token"
    }
  ],
  "security": [
    {
      "modulo_security": []
    }
  ],
  "tags": [
    {
      "name": "Accounts",
      "description": "Operations on Accounts"
    },
    {
      "name": "Async",
      "description": "Asynchronous card task operations"
    },
    {
      "name": "Beneficiaries",
      "description": "Operations on Beneficiaries"
    },
    {
      "name": "Cards",
      "description": "Cards API"
    },
    {
      "name": "Confirmation of Payee",
      "description": "Account Name Checks"
    },
    {
      "name": "Customers",
      "description": "Operations on Customers"
    },
    {
      "name": "Direct Debits",
      "description": "Direct Debit operations"
    },
    {
      "name": "Direct Debit Outbound",
      "description": "Direct Debit Outbound operations"
    },
    {
      "name": "Inbound Payments",
      "description": "Inbound payments"
    },
    {
      "name": "Payments",
      "description": "Operations on Payments"
    },
    {
      "name": "Rules",
      "description": "Rules"
    },
    {
      "name": "Transactions",
      "description": "Operations on Transactions"
    },
    {
      "name": "Document",
      "description": "Operations on Documents"
    },
    {
      "name": "Access Group",
      "description": "Operations on Access Group"
    },
    {
      "name": "Card Simulator",
      "description": "Cards Simulator API"
    },
    {
      "name": "Channel Manager",
      "description": "Channel Manager Operations"
    },
    {
      "name": "File Upload",
      "description": "Upload payment files"
    },
    {
      "name": "Notification",
      "description": "Operations on Notifications"
    },
    {
      "name": "Restricted",
      "description": "Restricted access API calls"
    }
  ],
  "paths": {
    "/customers/{customerId}": {
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Retrieve a specific customer using a unique customer reference",
        "description": "Retrieve a specific customer using a unique customer reference. This identifier can be found in the response obtained after creating a new customer, it starts by C, e.g: C0000000",
        "operationId": "getCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer to fetch",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Customer statuses allowed when fetching the customer",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "CLOSED",
                  "BLOCKED"
                ]
              },
              "default": [
                "ACTIVE"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "createdDate",
                    "id",
                    "name",
                    "status",
                    "type",
                    "verificationStatus"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for a Customer. Begins with 'C'",
                      "example": "C00000001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Customer's company name - must be unique across the Modulr platform."
                    },
                    "brandNames": {
                      "type": "array",
                      "description": "The customers brand name(s)",
                      "items": {
                        "required": [
                          "id",
                          "name"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique id for the Brand Name"
                          },
                          "name": {
                            "type": "string",
                            "description": "The Brand Name"
                          }
                        },
                        "description": "BrandName"
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the customer, can be one of:\n1. LLC -> limited company\n2. PLC -> publicly listed company\n3. SOLETRADER -> sole trader\n4. OPARTNRSHP -> ordinary partnership\n5. LPARTNRSHP -> limited partnership\n6. LLP -> limited liability partnership\n7. CHARITY -> charity\n8. INDIVIDUAL -> individual consumer\n9. PCM_INDIVIDUAL -> partner clearing model individual consumer\n10. PCM_BUSINESS -> partner clearing model business consumer"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the Customer. Customers must be 'Active' for Accounts to be created for them.",
                      "enum": [
                        "ACTIVE",
                        "CLOSED",
                        "BLOCKED"
                      ]
                    },
                    "verificationStatus": {
                      "type": "string",
                      "description": "How the identity of the Customer has been verified. Can be:\n1. UNVERIFIED -> no verification checks have been completed\n2. VERIFIED -> verification checks completed satisfactorily\n3. EXVERIFIED -> verification completed externally\n4. REFERRED -> verification is pending manual review\n5. DECLINED -> verification is complete with a negative result\n6. REVIEWED -> verification check has been reviewed"
                    },
                    "companyRegNumber": {
                      "type": "string",
                      "description": "The company registration / incorporation number of the company. Only applicable for companies registered with Companies House"
                    },
                    "expectedMonthlySpend": {
                      "type": "integer",
                      "description": "Indication of the monthly spend of the customer.",
                      "format": "int32"
                    },
                    "registeredAddress": {
                      "required": [
                        "addressLine1",
                        "country",
                        "postCode",
                        "postTown"
                      ],
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string"
                        },
                        "addressLine2": {
                          "type": "string"
                        },
                        "postTown": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "countrySubDivision": {
                          "type": "string"
                        }
                      },
                      "description": "Address"
                    },
                    "tradingAddress": {
                      "required": [
                        "addressLine1",
                        "country",
                        "postCode",
                        "postTown"
                      ],
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string"
                        },
                        "addressLine2": {
                          "type": "string"
                        },
                        "postTown": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "countrySubDivision": {
                          "type": "string"
                        }
                      },
                      "description": "Address"
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "The owning partner identifier"
                    },
                    "associates": {
                      "type": "array",
                      "description": "Array of associate objects that link to the Customer. For example, this could contain the details of the company directors for a Limited company, or or the partners for a partnership.",
                      "items": {
                        "required": [
                          "dateOfBirth",
                          "firstName",
                          "id",
                          "lastName",
                          "type",
                          "verificationStatus"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique id for the Associate"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Associate's first name(s)"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Associate's middle name"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Associate's surname"
                          },
                          "email": {
                            "type": "string",
                            "description": "Associate's email address"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Associate's phone number, in international number format"
                          },
                          "applicant": {
                            "type": "boolean",
                            "description": "Indicates which Associate originally applied for the Modulr account"
                          },
                          "ownership": {
                            "type": "integer",
                            "description": "The Associate's percentage ownership of the Customer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string",
                            "description": "Describes the relation between the Associate and the Customer. Can be one of "
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "description": "Associate's date of birth in format yyyy-MM-dd, or format yyyy-MM where day is unknown"
                          },
                          "verificationStatus": {
                            "type": "string",
                            "description": "How the Associate was verified. Can be one of "
                          },
                          "homeAddress": {
                            "required": [
                              "addressLine1",
                              "country",
                              "postCode",
                              "postTown"
                            ],
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "postTown": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countrySubDivision": {
                                "type": "string"
                              }
                            },
                            "description": "Address"
                          },
                          "documentInfo": {
                            "type": "array",
                            "description": "Documents gathered during Customer Due Diligence checks on an Associate.",
                            "items": {
                              "required": [
                                "fileName",
                                "path",
                                "uploadedDate"
                              ],
                              "type": "object",
                              "properties": {
                                "path": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "uploadedDate": {
                                  "type": "string",
                                  "description": "Valid date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                                  "example": "2017-01-28T01:01:01+0000"
                                }
                              },
                              "description": "Document"
                            }
                          },
                          "additionalPersonalIdentifiers": {
                            "type": "array",
                            "description": "Additional personal identifier(s)",
                            "items": {
                              "required": [
                                "type",
                                "value"
                              ],
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of Additional Personal Identifier",
                                  "enum": [
                                    "BSN"
                                  ]
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Additional Personal Identifier value"
                                }
                              },
                              "description": "AdditionalPersonalIdentifier"
                            }
                          },
                          "complianceData": {
                            "type": "object",
                            "properties": {
                              "relationship": {
                                "type": "string"
                              }
                            },
                            "description": "Optional for associates of type C_INTEREST and an EU customer legal entity. Mandatory for associates of type PREQUALIFIED. Not to be set for other associate types and/or for UK customer legal entity."
                          }
                        },
                        "description": "Associate"
                      }
                    },
                    "industryCode": {
                      "type": "string"
                    },
                    "tcsVersion": {
                      "type": "integer",
                      "description": "Version of the Modulr Account Terms and Conditions the Customer has agreed to.",
                      "format": "int32"
                    },
                    "documentInfo": {
                      "type": "array",
                      "description": "Array of document objects that relate to the Customer being created. Examples of Documents could be proof of a Company Director's identity or address, Articles of Association or a Partnership Agreement.",
                      "items": {
                        "required": [
                          "fileName",
                          "path",
                          "uploadedDate"
                        ],
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "uploadedDate": {
                            "type": "string",
                            "description": "Valid date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                            "example": "2017-01-28T01:01:01+0000"
                          }
                        },
                        "description": "Document"
                      }
                    },
                    "externalReference": {
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "description": "Datetime when the customer was created.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                      "format": "date-time"
                    },
                    "delegate": {
                      "required": [
                        "created",
                        "id",
                        "name",
                        "roleId",
                        "status",
                        "updated"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique reference for the Delegate.",
                          "example": "D0000001"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name for the Delegate"
                        },
                        "address": {
                          "required": [
                            "addressLine1",
                            "country",
                            "postCode",
                            "postTown"
                          ],
                          "type": "object",
                          "properties": {
                            "addressLine1": {
                              "type": "string"
                            },
                            "addressLine2": {
                              "type": "string"
                            },
                            "postTown": {
                              "type": "string"
                            },
                            "postCode": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "countrySubDivision": {
                              "type": "string"
                            }
                          },
                          "description": "Address"
                        },
                        "roleId": {
                          "type": "string",
                          "description": "The id of the Role assigned to the delegate",
                          "example": "R02002M5"
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "External system reference for the Delegate"
                        },
                        "partner": {
                          "type": "string",
                          "description": "Partner Bid.",
                          "example": "R0000001"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status of the Delegate."
                        },
                        "created": {
                          "type": "string",
                          "description": "Datetime the Delegate was created.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                          "format": "date-time"
                        },
                        "updated": {
                          "type": "string",
                          "description": "Datetime the Delegate was last updated.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                          "format": "date-time"
                        }
                      },
                      "description": "Delegate"
                    },
                    "legalEntity": {
                      "type": "string",
                      "description": "Legal entity of the customer",
                      "enum": [
                        "GB",
                        "NL",
                        "IE"
                      ]
                    },
                    "customerTrust": {
                      "type": "object",
                      "properties": {
                        "trustNature": {
                          "type": "string",
                          "enum": [
                            "BARE_TRUSTS",
                            "INTEREST_IN_POSSESSION_TRUSTS",
                            "DISCRETIONARY_TRUSTS",
                            "ACCUMULATION_TRUSTS",
                            "MIXED_TRUSTS",
                            "SETTLOR_INTERESTED_TRUSTS",
                            "NON_RESIDENT_TRUSTS",
                            "OFFSHORE_TRUSTS",
                            "FAMILY_LIVING_TRUST",
                            "PILOT_TRUST",
                            "VULNERABLE_BENEFICIARY_TRUST",
                            "CHARITABLE_TRUSTS",
                            "IRREVOCABLE_LIFE_INSURANCE_TRUST",
                            "TESTAMENTARY_TRUSTS",
                            "OTHER"
                          ]
                        }
                      },
                      "description": "Trust nature for customers of type trust. Mandatory for type Trust, not to be set for non-trust customers."
                    },
                    "taxProfile": {
                      "required": [
                        "taxIdentifier"
                      ],
                      "type": "object",
                      "properties": {
                        "taxIdentifier": {
                          "type": "string",
                          "description": "Tax identifier for customers of type SOLETRADER. Optional for type SOLETRADER, not to be set for non-SOLETRADER customers."
                        }
                      },
                      "description": "Tax profile for customers of type SOLETRADER. Optional for type SOLETRADER, not to be set for non-SOLETRADER customers."
                    },
                    "complianceData": {
                      "type": "object",
                      "properties": {
                        "typeDescription": {
                          "type": "string"
                        },
                        "riskLevel": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MEDIUM",
                            "HIGH",
                            "UNDETERMINED"
                          ]
                        },
                        "vulnerabilityReasons": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "LIFE_EVENTS",
                              "HEALTH",
                              "RESILIENCE",
                              "CAPABILITY",
                              "FINANCIAL_DIFFICULTY"
                            ]
                          }
                        }
                      },
                      "description": "Required for customers of type PREQUALIFIED. Not allowed for all other customer types."
                    },
                    "complianceSector": {
                      "type": "string",
                      "example": "Agency Lite Consumer"
                    },
                    "generateStatements": {
                      "type": "boolean",
                      "description": "True if the customer is configured to generate statements"
                    }
                  },
                  "description": "A Customer is a single legal entity that can have 1 or more accounts"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string",
                        "enum": [
                          "GENERAL",
                          "BUSINESSRULE",
                          "MFASTATUS",
                          "MFAERROR",
                          "MFATIMEOUT",
                          "MFADEVICEMM",
                          "MFAMESSAGEINVALID",
                          "NOTFOUND",
                          "DUPLICATE",
                          "INVALID",
                          "CONNECTION",
                          "RETRY",
                          "RATELIMIT",
                          "PERMISSION",
                          "NOTACCEPTABLE",
                          "MFAVERIFICATION"
                        ]
                      },
                      "errorCode": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "sourceService": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      },
      "put": {
        "tags": [
          "Customers"
        ],
        "summary": "Edit a specific customer using a unique customer reference",
        "description": "  Currently editable fields:\n  <ol>\n    <li>For all customer types: <b>externalReference</b> can be edited</li>\n    <li>For all customers not requiring manual or in-house KYC verification: <b>industryCode</b>, <b>registeredAddress</b>, <b>tcsVersions</b> and <b>regNumber</b> can additionally be edited. Of those:\n      <ul>\n        <li>For all other customer types: <b>name</b> and <b>tradingAddress</b> can additionally be edited</li>\n        <li>For all types other than PCM_BUSINESS: the <b>associate</b> can additionally be edited</li>\n      </ul>\n    </li>\n    <li> For <b>vulnerabilityReason</b> you must supply a list and to delete a list you must supply an empty list in request, not supplying a list will result in no change</li>\n  </ol>\n",
        "operationId": "editCustomer",
        "parameters": [
          {
            "name": "customerId",
            "in": "path",
            "description": "ID of customer to be edited",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            },
            "example": "C0000000"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalReference": {
                    "maxLength": 50,
                    "minLength": 0,
                    "pattern": "[\\w \\-]*",
                    "type": "string",
                    "description": "External Reference can only have alphanumeric characters plus underscore, hyphen and space up to 50 characters long"
                  },
                  "associates": {
                    "type": "array",
                    "description": "Applicable to all types except 'PCM_BUSINESS'",
                    "items": {
                      "required": [
                        "firstName",
                        "homeAddress",
                        "lastName",
                        "type"
                      ],
                      "type": "object",
                      "properties": {
                        "type": {
                          "type": "string",
                          "description": "Type of associate"
                        },
                        "firstName": {
                          "maxLength": 100,
                          "minLength": 1,
                          "pattern": "^[\\p{L}' -]+$",
                          "type": "string",
                          "description": "Letters, hyphens and apostrophes"
                        },
                        "middleName": {
                          "pattern": "^[\\p{L}' -]*$",
                          "type": "string",
                          "description": "Letters, hyphens and apostrophes"
                        },
                        "lastName": {
                          "maxLength": 100,
                          "minLength": 1,
                          "pattern": "^[\\p{L}' -]+$",
                          "type": "string",
                          "description": "Letters, hyphens and apostrophes"
                        },
                        "dateOfBirth": {
                          "type": "string",
                          "description": "Date in yyyy-MM-dd format. If associate is a non-applicant director or partner, then partial DOB of yyyy-MM format is allowed. Valid age is from 16 to 100 years. If Applicant then minimum age required is 18 years for specific partners. Required for all associate types except PCM_INDIVIDUAL."
                        },
                        "ownership": {
                          "maximum": 100,
                          "minimum": 1,
                          "type": "integer",
                          "description": "Ownership percentage for Partners",
                          "format": "int32"
                        },
                        "homeAddress": {
                          "required": [
                            "addressLine1",
                            "postTown"
                          ],
                          "type": "object",
                          "properties": {
                            "addressLine1": {
                              "maxLength": 50,
                              "minLength": 0,
                              "type": "string"
                            },
                            "addressLine2": {
                              "maxLength": 50,
                              "minLength": 0,
                              "type": "string"
                            },
                            "postTown": {
                              "maxLength": 50,
                              "minLength": 0,
                              "type": "string"
                            },
                            "postCode": {
                              "maxLength": 10,
                              "type": "string"
                            },
                            "country": {
                              "type": "string",
                              "description": "Mandatory for international payments."
                            },
                            "countrySubDivision": {
                              "maxLength": 35,
                              "minLength": 0,
                              "type": "string"
                            }
                          },
                          "description": "Applicable to all types except 'INDIVIDUAL' and 'PCM_INDIVIDUAL'"
                        },
                        "id": {
                          "type": "string",
                          "description": "ID of associate"
                        }
                      },
                      "description": "Applicable to all types except 'PCM_BUSINESS'"
                    }
                  },
                  "name": {
                    "maxLength": 100,
                    "minLength": 0,
                    "pattern": "^([_'@,&()£$€¥=#%\\‘\\’:;/<>«»\\\"!\\‘\\“\\”.\\?\\-\\s\\*\\{\\}\\[\\]\\+\\%\\\\]*?[\\p{L}0-9])+[_'@,&()£$€¥=#%\\‘\\’:;/<>«»\\\"!\\‘\\“\\”.\\?\\-\\s\\*\\{\\}\\[\\]\\+\\%\\\\]*",
                    "type": "string",
                    "description": "AlphaNumeric characters plus [ _ ' @ , & £ $ € ¥ = # % ‘ ’ : ; \\ / < > « »  ! ‘ “ ” . ? - *{ }  + % ( )]. Mandatory for all types except 'INDIVIDUAL and PCM_INDIVIDUAL'"
                  },
                  "brandNames": {
                    "type": "array",
                    "description": "The customers brand name(s)",
                    "items": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique id for the Brand Name"
                        },
                        "name": {
                          "type": "string",
                          "description": "The Brand Name"
                        }
                      },
                      "description": "The customers brand name(s)"
                    }
                  },
                  "tradingAddress": {
                    "required": [
                      "addressLine1",
                      "postTown"
                    ],
                    "type": "object",
                    "properties": {
                      "addressLine1": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string"
                      },
                      "addressLine2": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string"
                      },
                      "postTown": {
                        "maxLength": 50,
                        "minLength": 0,
                        "type": "string"
                      },
                      "postCode": {
                        "maxLength": 10,
                        "type": "string"
                      },
                      "country": {
                        "type": "string",
                        "description": "Mandatory for international payments."
                      },
                      "countrySubDivision": {
                        "maxLength": 35,
                        "minLength": 0,
                        "type": "string"
                      }
                    },
                    "description": "Applicable to all types except 'INDIVIDUAL' and 'PCM_INDIVIDUAL'"
                  },
                  "customerTrust": {
                    "required": [
                      "trustNature"
                    ],
                    "type": "object",
                    "properties": {
                      "trustNature": {
                        "type": "string",
                        "description": "Trust nature for customers of type Trust. Mandatory for type Trust, not to be set for non-trust customers.",
                        "enum": [
                          "BARE_TRUSTS",
                          "INTEREST_IN_POSSESSION_TRUSTS",
                          "DISCRETIONARY_TRUSTS",
                          "ACCUMULATION_TRUSTS",
                          "MIXED_TRUSTS",
                          "SETTLOR_INTERESTED_TRUSTS",
                          "NON_RESIDENT_TRUSTS",
                          "OFFSHORE_TRUSTS",
                          "FAMILY_LIVING_TRUST",
                          "PILOT_TRUST",
                          "VULNERABLE_BENEFICIARY_TRUST",
                          "CHARITABLE_TRUSTS",
                          "IRREVOCABLE_LIFE_INSURANCE_TRUST",
                          "TESTAMENTARY_TRUSTS",
                          "OTHER"
                        ]
                      }
                    },
                    "description": "Trust nature for customers of type Trust. Mandatory for type Trust, not to be set for non-trust customers."
                  },
                  "complianceData": {
                    "type": "object",
                    "properties": {
                      "typeDescription": {
                        "maxLength": 200,
                        "minLength": 0,
                        "type": "string",
                        "description": "Required for customers of type PREQUALIFIED. Not allowed for all other customer types."
                      },
                      "riskLevel": {
                        "type": "string",
                        "description": "Risk level of the customer",
                        "enum": [
                          "LOW",
                          "MEDIUM",
                          "HIGH",
                          "UNDETERMINED"
                        ]
                      },
                      "vulnerabilityReasons": {
                        "type": "array",
                        "description": "Vulnerability Reasons of the customer",
                        "items": {
                          "type": "string",
                          "description": "Vulnerability Reasons of the customer",
                          "enum": [
                            "LIFE_EVENTS",
                            "HEALTH",
                            "RESILIENCE",
                            "CAPABILITY",
                            "FINANCIAL_DIFFICULTY"
                          ]
                        }
                      }
                    },
                    "description": "Required for customers of type PREQUALIFIED"
                  }
                },
                "description": "Details of customer to edit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "createdDate",
                    "id",
                    "name",
                    "status",
                    "type",
                    "verificationStatus"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique identifier for a Customer. Begins with 'C'",
                      "example": "C00000001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Customer's company name - must be unique across the Modulr platform."
                    },
                    "brandNames": {
                      "type": "array",
                      "description": "The customers brand name(s)",
                      "items": {
                        "required": [
                          "id",
                          "name"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique id for the Brand Name"
                          },
                          "name": {
                            "type": "string",
                            "description": "The Brand Name"
                          }
                        },
                        "description": "BrandName"
                      }
                    },
                    "type": {
                      "type": "string",
                      "description": "Type of the customer, can be one of:\n1. LLC -> limited company\n2. PLC -> publicly listed company\n3. SOLETRADER -> sole trader\n4. OPARTNRSHP -> ordinary partnership\n5. LPARTNRSHP -> limited partnership\n6. LLP -> limited liability partnership\n7. CHARITY -> charity\n8. INDIVIDUAL -> individual consumer\n9. PCM_INDIVIDUAL -> partner clearing model individual consumer\n10. PCM_BUSINESS -> partner clearing model business consumer"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the Customer. Customers must be 'Active' for Accounts to be created for them.",
                      "enum": [
                        "ACTIVE",
                        "CLOSED",
                        "BLOCKED"
                      ]
                    },
                    "verificationStatus": {
                      "type": "string",
                      "description": "How the identity of the Customer has been verified. Can be:\n1. UNVERIFIED -> no verification checks have been completed\n2. VERIFIED -> verification checks completed satisfactorily\n3. EXVERIFIED -> verification completed externally\n4. REFERRED -> verification is pending manual review\n5. DECLINED -> verification is complete with a negative result\n6. REVIEWED -> verification check has been reviewed"
                    },
                    "companyRegNumber": {
                      "type": "string",
                      "description": "The company registration / incorporation number of the company. Only applicable for companies registered with Companies House"
                    },
                    "expectedMonthlySpend": {
                      "type": "integer",
                      "description": "Indication of the monthly spend of the customer.",
                      "format": "int32"
                    },
                    "registeredAddress": {
                      "required": [
                        "addressLine1",
                        "country",
                        "postCode",
                        "postTown"
                      ],
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string"
                        },
                        "addressLine2": {
                          "type": "string"
                        },
                        "postTown": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "countrySubDivision": {
                          "type": "string"
                        }
                      },
                      "description": "Address"
                    },
                    "tradingAddress": {
                      "required": [
                        "addressLine1",
                        "country",
                        "postCode",
                        "postTown"
                      ],
                      "type": "object",
                      "properties": {
                        "addressLine1": {
                          "type": "string"
                        },
                        "addressLine2": {
                          "type": "string"
                        },
                        "postTown": {
                          "type": "string"
                        },
                        "postCode": {
                          "type": "string"
                        },
                        "country": {
                          "type": "string"
                        },
                        "countrySubDivision": {
                          "type": "string"
                        }
                      },
                      "description": "Address"
                    },
                    "partnerId": {
                      "type": "string",
                      "description": "The owning partner identifier"
                    },
                    "associates": {
                      "type": "array",
                      "description": "Array of associate objects that link to the Customer. For example, this could contain the details of the company directors for a Limited company, or or the partners for a partnership.",
                      "items": {
                        "required": [
                          "dateOfBirth",
                          "firstName",
                          "id",
                          "lastName",
                          "type",
                          "verificationStatus"
                        ],
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "description": "Unique id for the Associate"
                          },
                          "firstName": {
                            "type": "string",
                            "description": "Associate's first name(s)"
                          },
                          "middleName": {
                            "type": "string",
                            "description": "Associate's middle name"
                          },
                          "lastName": {
                            "type": "string",
                            "description": "Associate's surname"
                          },
                          "email": {
                            "type": "string",
                            "description": "Associate's email address"
                          },
                          "phone": {
                            "type": "string",
                            "description": "Associate's phone number, in international number format"
                          },
                          "applicant": {
                            "type": "boolean",
                            "description": "Indicates which Associate originally applied for the Modulr account"
                          },
                          "ownership": {
                            "type": "integer",
                            "description": "The Associate's percentage ownership of the Customer",
                            "format": "int32"
                          },
                          "type": {
                            "type": "string",
                            "description": "Describes the relation between the Associate and the Customer. Can be one of "
                          },
                          "dateOfBirth": {
                            "type": "string",
                            "description": "Associate's date of birth in format yyyy-MM-dd, or format yyyy-MM where day is unknown"
                          },
                          "verificationStatus": {
                            "type": "string",
                            "description": "How the Associate was verified. Can be one of "
                          },
                          "homeAddress": {
                            "required": [
                              "addressLine1",
                              "country",
                              "postCode",
                              "postTown"
                            ],
                            "type": "object",
                            "properties": {
                              "addressLine1": {
                                "type": "string"
                              },
                              "addressLine2": {
                                "type": "string"
                              },
                              "postTown": {
                                "type": "string"
                              },
                              "postCode": {
                                "type": "string"
                              },
                              "country": {
                                "type": "string"
                              },
                              "countrySubDivision": {
                                "type": "string"
                              }
                            },
                            "description": "Address"
                          },
                          "documentInfo": {
                            "type": "array",
                            "description": "Documents gathered during Customer Due Diligence checks on an Associate.",
                            "items": {
                              "required": [
                                "fileName",
                                "path",
                                "uploadedDate"
                              ],
                              "type": "object",
                              "properties": {
                                "path": {
                                  "type": "string"
                                },
                                "fileName": {
                                  "type": "string"
                                },
                                "uploadedDate": {
                                  "type": "string",
                                  "description": "Valid date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                                  "example": "2017-01-28T01:01:01+0000"
                                }
                              },
                              "description": "Document"
                            }
                          },
                          "additionalPersonalIdentifiers": {
                            "type": "array",
                            "description": "Additional personal identifier(s)",
                            "items": {
                              "required": [
                                "type",
                                "value"
                              ],
                              "type": "object",
                              "properties": {
                                "type": {
                                  "type": "string",
                                  "description": "The type of Additional Personal Identifier",
                                  "enum": [
                                    "BSN"
                                  ]
                                },
                                "value": {
                                  "type": "string",
                                  "description": "Additional Personal Identifier value"
                                }
                              },
                              "description": "AdditionalPersonalIdentifier"
                            }
                          },
                          "complianceData": {
                            "type": "object",
                            "properties": {
                              "relationship": {
                                "type": "string"
                              }
                            },
                            "description": "Optional for associates of type C_INTEREST and an EU customer legal entity. Mandatory for associates of type PREQUALIFIED. Not to be set for other associate types and/or for UK customer legal entity."
                          }
                        },
                        "description": "Associate"
                      }
                    },
                    "industryCode": {
                      "type": "string"
                    },
                    "tcsVersion": {
                      "type": "integer",
                      "description": "Version of the Modulr Account Terms and Conditions the Customer has agreed to.",
                      "format": "int32"
                    },
                    "documentInfo": {
                      "type": "array",
                      "description": "Array of document objects that relate to the Customer being created. Examples of Documents could be proof of a Company Director's identity or address, Articles of Association or a Partnership Agreement.",
                      "items": {
                        "required": [
                          "fileName",
                          "path",
                          "uploadedDate"
                        ],
                        "type": "object",
                        "properties": {
                          "path": {
                            "type": "string"
                          },
                          "fileName": {
                            "type": "string"
                          },
                          "uploadedDate": {
                            "type": "string",
                            "description": "Valid date. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                            "example": "2017-01-28T01:01:01+0000"
                          }
                        },
                        "description": "Document"
                      }
                    },
                    "externalReference": {
                      "type": "string"
                    },
                    "createdDate": {
                      "type": "string",
                      "description": "Datetime when the customer was created.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                      "format": "date-time"
                    },
                    "delegate": {
                      "required": [
                        "created",
                        "id",
                        "name",
                        "roleId",
                        "status",
                        "updated"
                      ],
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "description": "Unique reference for the Delegate.",
                          "example": "D0000001"
                        },
                        "name": {
                          "type": "string",
                          "description": "Name for the Delegate"
                        },
                        "address": {
                          "required": [
                            "addressLine1",
                            "country",
                            "postCode",
                            "postTown"
                          ],
                          "type": "object",
                          "properties": {
                            "addressLine1": {
                              "type": "string"
                            },
                            "addressLine2": {
                              "type": "string"
                            },
                            "postTown": {
                              "type": "string"
                            },
                            "postCode": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "countrySubDivision": {
                              "type": "string"
                            }
                          },
                          "description": "Address"
                        },
                        "roleId": {
                          "type": "string",
                          "description": "The id of the Role assigned to the delegate",
                          "example": "R02002M5"
                        },
                        "externalReference": {
                          "type": "string",
                          "description": "External system reference for the Delegate"
                        },
                        "partner": {
                          "type": "string",
                          "description": "Partner Bid.",
                          "example": "R0000001"
                        },
                        "status": {
                          "type": "string",
                          "description": "Status of the Delegate."
                        },
                        "created": {
                          "type": "string",
                          "description": "Datetime the Delegate was created.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                          "format": "date-time"
                        },
                        "updated": {
                          "type": "string",
                          "description": "Datetime the Delegate was last updated.Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                          "format": "date-time"
                        }
                      },
                      "description": "Delegate"
                    },
                    "legalEntity": {
                      "type": "string",
                      "description": "Legal entity of the customer",
                      "enum": [
                        "GB",
                        "NL",
                        "IE"
                      ]
                    },
                    "customerTrust": {
                      "type": "object",
                      "properties": {
                        "trustNature": {
                          "type": "string",
                          "enum": [
                            "BARE_TRUSTS",
                            "INTEREST_IN_POSSESSION_TRUSTS",
                            "DISCRETIONARY_TRUSTS",
                            "ACCUMULATION_TRUSTS",
                            "MIXED_TRUSTS",
                            "SETTLOR_INTERESTED_TRUSTS",
                            "NON_RESIDENT_TRUSTS",
                            "OFFSHORE_TRUSTS",
                            "FAMILY_LIVING_TRUST",
                            "PILOT_TRUST",
                            "VULNERABLE_BENEFICIARY_TRUST",
                            "CHARITABLE_TRUSTS",
                            "IRREVOCABLE_LIFE_INSURANCE_TRUST",
                            "TESTAMENTARY_TRUSTS",
                            "OTHER"
                          ]
                        }
                      },
                      "description": "Trust nature for customers of type trust. Mandatory for type Trust, not to be set for non-trust customers."
                    },
                    "taxProfile": {
                      "required": [
                        "taxIdentifier"
                      ],
                      "type": "object",
                      "properties": {
                        "taxIdentifier": {
                          "type": "string",
                          "description": "Tax identifier for customers of type SOLETRADER. Optional for type SOLETRADER, not to be set for non-SOLETRADER customers."
                        }
                      },
                      "description": "Tax profile for customers of type SOLETRADER. Optional for type SOLETRADER, not to be set for non-SOLETRADER customers."
                    },
                    "complianceData": {
                      "type": "object",
                      "properties": {
                        "typeDescription": {
                          "type": "string"
                        },
                        "riskLevel": {
                          "type": "string",
                          "enum": [
                            "LOW",
                            "MEDIUM",
                            "HIGH",
                            "UNDETERMINED"
                          ]
                        },
                        "vulnerabilityReasons": {
                          "type": "array",
                          "items": {
                            "type": "string",
                            "enum": [
                              "LIFE_EVENTS",
                              "HEALTH",
                              "RESILIENCE",
                              "CAPABILITY",
                              "FINANCIAL_DIFFICULTY"
                            ]
                          }
                        }
                      },
                      "description": "Required for customers of type PREQUALIFIED. Not allowed for all other customer types."
                    },
                    "complianceSector": {
                      "type": "string",
                      "example": "Agency Lite Consumer"
                    },
                    "generateStatements": {
                      "type": "boolean",
                      "description": "True if the customer is configured to generate statements"
                    }
                  },
                  "description": "A Customer is a single legal entity that can have 1 or more accounts"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string",
                        "enum": [
                          "GENERAL",
                          "BUSINESSRULE",
                          "MFASTATUS",
                          "MFAERROR",
                          "MFATIMEOUT",
                          "MFADEVICEMM",
                          "MFAMESSAGEINVALID",
                          "NOTFOUND",
                          "DUPLICATE",
                          "INVALID",
                          "CONNECTION",
                          "RETRY",
                          "RATELIMIT",
                          "PERMISSION",
                          "NOTACCEPTABLE",
                          "MFAVERIFICATION"
                        ]
                      },
                      "errorCode": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "sourceService": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      }
    },
    "/accounts/{id}": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get an account",
        "description": "Retrieve details of a particular account using its ID as a reference",
        "operationId": "getAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account to fetch",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "statuses",
            "in": "query",
            "description": "Account statuses allowed when fetching the account",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "ACTIVE",
                  "BLOCKED",
                  "CLOSED",
                  "CLIENT_BLOCKED"
                ]
              },
              "default": [
                "ACTIVE"
              ]
            }
          },
          {
            "name": "includePendingTransactions",
            "in": "query",
            "description": "Include all pending transactions in 'balance' field",
            "required": false,
            "style": "form",
            "explode": true,
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "availableBalance",
                    "balance",
                    "createdDate",
                    "currency",
                    "customerId",
                    "id",
                    "identifiers",
                    "name",
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id for the account",
                      "example": "A0000001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name for the account"
                    },
                    "balance": {
                      "type": "string",
                      "description": "Balance of the account in format 'NN.NN'",
                      "example": "10000.0"
                    },
                    "availableBalance": {
                      "type": "string",
                      "description": "The current available balance of the Account. Calculated by subtracting any pending payments from the current balance",
                      "example": "10000.0"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of the account in ISO 4217 format",
                      "example": "GBP"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the account. Accounts must be 'ACTIVE' to make and receive payments. Can be one of ",
                      "example": "ACTIVE"
                    },
                    "identifiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "Bank account Sort Code",
                            "example": "12345678"
                          },
                          "accountType": {
                            "type": "string",
                            "description": "Bank account type like PERSONAL/BUSINESS",
                            "enum": [
                              "PERSONAL",
                              "BUSINESS"
                            ]
                          },
                          "sortCode": {
                            "type": "string",
                            "description": "Bank account Sort Code",
                            "example": "000000"
                          },
                          "iban": {
                            "type": "string",
                            "example": "GB20MODR04001401100000"
                          },
                          "bic": {
                            "type": "string",
                            "example": "MODRGB21"
                          },
                          "currency": {
                            "type": "string",
                            "example": "GBP"
                          },
                          "countrySpecificDetails": {
                            "type": "object",
                            "properties": {
                              "bankName": {
                                "type": "string",
                                "description": "The name of the destination bank.",
                                "example": "Apple Bank"
                              },
                              "bankAddress": {
                                "type": "string",
                                "description": "The address of the destination bank.",
                                "example": "2100 Broadway"
                              },
                              "bankCity": {
                                "type": "string",
                                "description": "The city in which the destination bank resides.",
                                "example": "New York City"
                              },
                              "bankBranchName": {
                                "type": "string",
                                "description": "The name of the destination bank's branch.",
                                "example": "New York"
                              },
                              "bankBranchCode": {
                                "type": "string",
                                "description": "The code of the destination bank's branch.",
                                "example": "44-04"
                              },
                              "bankCode": {
                                "type": "string",
                                "description": "The code identifying the target bank on its respective national network. This is not the BIC/SWIFT code. This is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on."
                              },
                              "chineseId": {
                                "type": "string",
                                "description": "The 18 digit identification code of the beneficiary. Applies to Chinese beneficiaries only.",
                                "example": "01101201901018889"
                              },
                              "province": {
                                "type": "string",
                                "description": "The province in which the beneficiary resides. Applies only to beneficiaries residing in China.",
                                "example": "Zhejiang"
                              },
                              "business": {
                                "type": "boolean",
                                "description": "The type of the beneficiary. 'true' for businesses, 'false' otherwise.",
                                "example": true
                              },
                              "bankCodeType": {
                                "type": "string",
                                "description": "The code type identifying the target bank on its respective national network.\nThis is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on.",
                                "example": "ABA",
                                "enum": [
                                  "ABA",
                                  "CHIPS"
                                ]
                              },
                              "bankCountry": {
                                "type": "string",
                                "description": "The country in which the destination bank resides.",
                                "example": "US",
                                "enum": [
                                  "AT",
                                  "BE",
                                  "BG",
                                  "CY",
                                  "CZ",
                                  "DK",
                                  "EE",
                                  "FI",
                                  "FR",
                                  "DE",
                                  "GR",
                                  "HR",
                                  "HU",
                                  "IS",
                                  "IE",
                                  "IT",
                                  "LV",
                                  "LI",
                                  "LT",
                                  "LU",
                                  "MT",
                                  "NL",
                                  "NO",
                                  "PL",
                                  "PT",
                                  "RO",
                                  "SK",
                                  "SI",
                                  "ES",
                                  "SE",
                                  "GB",
                                  "MQ",
                                  "YT",
                                  "GP",
                                  "GF",
                                  "RE",
                                  "MF",
                                  "GI",
                                  "GG",
                                  "IM",
                                  "JE",
                                  "MC",
                                  "CH",
                                  "AD",
                                  "SM",
                                  "VA",
                                  "AX",
                                  "PM",
                                  "BL",
                                  "AF",
                                  "AL",
                                  "DZ",
                                  "AS",
                                  "AO",
                                  "AI",
                                  "AQ",
                                  "AG",
                                  "AR",
                                  "AM",
                                  "AW",
                                  "AU",
                                  "AZ",
                                  "BS",
                                  "BH",
                                  "BD",
                                  "BB",
                                  "BY",
                                  "BZ",
                                  "BJ",
                                  "BM",
                                  "BT",
                                  "BO",
                                  "BQ",
                                  "BA",
                                  "BW",
                                  "BV",
                                  "BR",
                                  "IO",
                                  "VG",
                                  "BN",
                                  "BF",
                                  "BI",
                                  "KH",
                                  "CM",
                                  "CA",
                                  "CV",
                                  "KY",
                                  "CF",
                                  "TD",
                                  "CL",
                                  "CN",
                                  "CX",
                                  "CC",
                                  "CO",
                                  "KM",
                                  "CK",
                                  "CR",
                                  "CU",
                                  "CW",
                                  "CD",
                                  "DJ",
                                  "DM",
                                  "DO",
                                  "TL",
                                  "EC",
                                  "EG",
                                  "SV",
                                  "GQ",
                                  "ER",
                                  "SZ",
                                  "ET",
                                  "FK",
                                  "FO",
                                  "FJ",
                                  "PF",
                                  "TF",
                                  "GA",
                                  "GM",
                                  "GE",
                                  "GH",
                                  "GL",
                                  "GD",
                                  "GU",
                                  "GT",
                                  "GN",
                                  "GW",
                                  "GY",
                                  "HT",
                                  "HM",
                                  "HN",
                                  "HK",
                                  "IN",
                                  "ID",
                                  "IR",
                                  "IQ",
                                  "IL",
                                  "CI",
                                  "JM",
                                  "JP",
                                  "JO",
                                  "KZ",
                                  "KE",
                                  "KI",
                                  "XK",
                                  "KW",
                                  "KG",
                                  "LA",
                                  "LB",
                                  "LS",
                                  "LR",
                                  "LY",
                                  "MO",
                                  "MG",
                                  "MW",
                                  "MY",
                                  "MV",
                                  "ML",
                                  "MH",
                                  "MR",
                                  "MU",
                                  "MX",
                                  "FM",
                                  "MD",
                                  "MN",
                                  "ME",
                                  "MS",
                                  "MA",
                                  "MZ",
                                  "MM",
                                  "NA",
                                  "NR",
                                  "NP",
                                  "AN",
                                  "NC",
                                  "NZ",
                                  "NI",
                                  "NE",
                                  "NG",
                                  "NU",
                                  "NF",
                                  "KP",
                                  "MK",
                                  "MP",
                                  "OM",
                                  "PK",
                                  "PW",
                                  "PS",
                                  "PA",
                                  "PG",
                                  "PY",
                                  "PE",
                                  "PH",
                                  "PN",
                                  "PR",
                                  "QA",
                                  "CG",
                                  "RU",
                                  "RW",
                                  "SH",
                                  "KN",
                                  "LC",
                                  "VC",
                                  "WS",
                                  "ST",
                                  "SA",
                                  "SN",
                                  "RS",
                                  "SC",
                                  "SL",
                                  "SG",
                                  "SX",
                                  "SB",
                                  "SO",
                                  "ZA",
                                  "KR",
                                  "GS",
                                  "SS",
                                  "LK",
                                  "SD",
                                  "SR",
                                  "SY",
                                  "SJ",
                                  "TW",
                                  "TJ",
                                  "TZ",
                                  "TH",
                                  "TG",
                                  "TK",
                                  "TO",
                                  "TT",
                                  "TN",
                                  "TR",
                                  "TM",
                                  "TC",
                                  "TV",
                                  "UG",
                                  "UA",
                                  "AE",
                                  "UM",
                                  "US",
                                  "UY",
                                  "UZ",
                                  "VU",
                                  "VE",
                                  "VN",
                                  "VI",
                                  "WF",
                                  "EH",
                                  "YE",
                                  "ZM",
                                  "ZW"
                                ]
                              },
                              "abaRoutingNumber": {
                                "type": "string",
                                "description": "The 9 digit identification code of the beneficiary. Applies to US beneficiaries only.",
                                "example": "123456789"
                              }
                            },
                            "example": {
                              "branchCode": "123456789"
                            }
                          }
                        },
                        "description": "Account Identifier"
                      }
                    },
                    "customerId": {
                      "type": "string",
                      "description": "Unique id of the Customer",
                      "example": "C0000001"
                    },
                    "customerName": {
                      "type": "string",
                      "description": "Customer Name"
                    },
                    "externalReference": {
                      "type": "string",
                      "description": "Your reference for an account",
                      "example": "aReference_00001"
                    },
                    "accessGroups": {
                      "type": "array",
                      "description": "Ids of Access Groups this account belongs to",
                      "items": {
                        "type": "string",
                        "description": "Ids of Access Groups this account belongs to"
                      }
                    },
                    "createdDate": {
                      "type": "string",
                      "description": "Datetime when the account was created. Format is 'yyyy-MM-dd'T'HH:mm:ssZ' where Z is UTC offset. e.g 2017-01-28T01:01:01+0000",
                      "format": "date-time"
                    },
                    "directDebit": {
                      "type": "boolean",
                      "description": "Direct Debit Enabled"
                    },
                    "securedFundingLimit": {
                      "type": "string",
                      "description": "Limit of funds available below a balance of zero"
                    }
                  },
                  "description": "Account"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "*/*": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "field": {
                        "type": "string"
                      },
                      "code": {
                        "type": "string",
                        "enum": [
                          "GENERAL",
                          "BUSINESSRULE",
                          "MFASTATUS",
                          "MFAERROR",
                          "MFATIMEOUT",
                          "MFADEVICEMM",
                          "MFAMESSAGEINVALID",
                          "NOTFOUND",
                          "DUPLICATE",
                          "INVALID",
                          "CONNECTION",
                          "RETRY",
                          "RATELIMIT",
                          "PERMISSION",
                          "NOTACCEPTABLE",
                          "MFAVERIFICATION"
                        ]
                      },
                      "errorCode": {
                        "type": "string"
                      },
                      "message": {
                        "type": "string"
                      },
                      "sourceService": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "security": [
          {
            "HMAC": []
          },
          {
            "TOKEN": []
          }
        ]
      },
      "put": {
        "tags": [
          "Accounts"
        ],
        "summary": "Edit an account",
        "description": "Edit details of a particular account using its ID as a reference\nCurrently editable fields:\n  1. for accounts of all customer types, externalReference can be edited\n  2. for accounts of PCM_INDIVIDUAL & PCM_BUSINESS customer types, name can additionally be edited",
        "operationId": "editAccount",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of account to be edited",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "externalReference": {
                    "maxLength": 50,
                    "minLength": 0,
                    "pattern": "[\\w \\-]*",
                    "type": "string",
                    "description": "External Reference can only have alphanumeric characters plus underscore, hyphen and space up to 50 characters long"
                  },
                  "name": {
                    "maxLength": 40,
                    "minLength": 0,
                    "type": "string",
                    "description": "Name for the account, only applicable for 'PCM_INDIVIDUAL' and 'PCM_BUSINESS' customer types"
                  }
                },
                "description": "Details of account to edit"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "availableBalance",
                    "balance",
                    "createdDate",
                    "currency",
                    "customerId",
                    "id",
                    "identifiers",
                    "name",
                    "status"
                  ],
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "description": "Unique id for the account",
                      "example": "A0000001"
                    },
                    "name": {
                      "type": "string",
                      "description": "Name for the account"
                    },
                    "balance": {
                      "type": "string",
                      "description": "Balance of the account in format 'NN.NN'",
                      "example": "10000.0"
                    },
                    "availableBalance": {
                      "type": "string",
                      "description": "The current available balance of the Account. Calculated by subtracting any pending payments from the current balance",
                      "example": "10000.0"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency of the account in ISO 4217 format",
                      "example": "GBP"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the account. Accounts must be 'ACTIVE' to make and receive payments. Can be one of ",
                      "example": "ACTIVE"
                    },
                    "identifiers": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string"
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "Bank account Sort Code",
                            "example": "12345678"
                          },
                          "accountType": {
                            "type": "string",
                            "description": "Bank account type like PERSONAL/BUSINESS",
                            "enum": [
                              "PERSONAL",
                              "BUSINESS"
                            ]
                          },
                          "sortCode": {
                            "type": "string",
                            "description": "Bank account Sort Code",
                            "example": "000000"
                          },
                          "iban": {
                            "type": "string",
                            "example": "GB20MODR04001401100000"
                          },
                          "bic": {
                            "type": "string",
                            "example": "MODRGB21"
                          },
                          "currency": {
                            "type": "string",
                            "example": "GBP"
                          },
                          "countrySpecificDetails": {
                            "type": "object",
                            "properties": {
                              "bankName": {
                                "type": "string",
                                "description": "The name of the destination bank.",
                                "example": "Apple Bank"
                              },
                              "bankAddress": {
                                "type": "string",
                                "description": "The address of the destination bank.",
                                "example": "2100 Broadway"
                              },
                              "bankCity": {
                                "type": "string",
                                "description": "The city in which the destination bank resides.",
                                "example": "New York City"
                              },
                              "bankBranchName": {
                                "type": "string",
                                "description": "The name of the destination bank's branch.",
                                "example": "New York"
                              },
                              "bankBranchCode": {
                                "type": "string",
                                "description": "The code of the destination bank's branch.",
                                "example": "44-04"
                              },
                              "bankCode": {
                                "type": "string",
                                "description": "The code identifying the target bank on its respective national network. This is not the BIC/SWIFT code. This is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on."
                              },
                              "chineseId": {
                                "type": "string",
                                "description": "The 18 digit identification code of the beneficiary. Applies to Chinese beneficiaries only.",
                                "example": "01101201901018889"
                              },
                              "province": {
                                "type": "string",
                                "description": "The province in which the beneficiary resides. Applies only to beneficiaries residing in China.",
                                "example": "Zhejiang"
                              },
                              "business": {
                                "type": "boolean",
                                "description": "The type of the beneficiary. 'true' for businesses, 'false' otherwise.",
                                "example": true
                              },
                              "bankCodeType": {
                                "type": "string",
                                "description": "The code type identifying the target bank on its respective national network.\nThis is known as the 'ABA code' in the U.S., 'ISFC' in India, 'routing number' in Canada, and so on.",
                                "example": "ABA",
                                "enum": [
                                  "ABA",
                                  "CHIPS"
                                ]
                              },
                              "bankCountry": {
                                "type": "string",
                                "description": "The country in which the destination bank resides.",
                                "example": "US",
                                "enum": [
                                  "AT",
                                  "BE",
                                  "BG",
                                  "CY",
                                  "CZ",
                                  "DK",
                                  "EE",
                                  "FI",
                                  "FR",
                                  "DE",
                                  "GR",
                                  "HR",
                                  "HU",
                                  "IS",
                                  "IE",
                                  "IT",
                                  "LV",
                                  "LI",
                                  "LT",
                                  "LU",
                                  "MT",
                                  "NL",
                                  "NO",
                                  "PL",
                                  "PT",
                                  "RO",
                                  "SK",
                                  "SI",
                                  "ES",
                                  "SE",
                                  "GB",
                                  "MQ",
                                  "YT",
                                  "GP",
                                  "GF",
                                  "RE",
                                  "MF",
                                  "GI",
                                  "GG",
                                  "IM",
                                  "JE",
                                  "MC",
                                  "CH",
                                  "AD",
                                  "SM",
                                  "VA",
                                  "AX",
                                  "PM",
                                  "BL",
                                  "AF",
                                  "AL",
                                  "DZ",
                                  "AS",
                                  "AO",
                                  "AI",
[...]
